<% content_for :app_head do %>
  <%= stylesheet_link_tag 'pc/sessions-bundle', media: 'all' %>
  <%= javascript_include_tag 'pc/sessions-bundle'%>
<% end %>
<div class="container login-panel">
  <div class="col-md-4 col-md-offset-4">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>登录</strong></h1>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="mobile">手机<span class="text-danger">(账号不存在)</span></label>
                        <input type="text" name="mobile"class="form-control" id="mobile" placeholder="请输入手机号"/>
                    </div>
                    <div class="form-group">
                        <label for="pwd">密码<span class="text-danger">(密码不正确)</span></label>
                        <input type="password" name="password" class="form-control" id="pwd" placeholder="请输入密码"/>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary login-btn">登录</button>
                    <div>
                      <a href="/forget" class='forget'>忘记密码?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

<!--  ======================================================================= -->
  
    <body>  
        <div style="width:100%; height:100%;z-index:9;border:1px solid gray" id="container"></div>  
    </body>  
    </html>  
    <script type="text/javascript">  
        var map = new BMap.Map("container", { mapType: BMAP_HYBRID_MAP });  
        map.centerAndZoom(new BMap.Point(116.30, 39.96), 14);
        map.addControl(new BMap.NavigationControl());  
        map.addControl(new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_SATELLITE_MAP ]}));         
        map.setCurrentCity("beijing");      
        map.enableScrollWheelZoom(true);  
    
        var menu = new BMap.ContextMenu();
        var txtMenuItem = [
            {
                text:'add',
                callback:function(){
                    var polygon = new BMap.Polygon([
                        new BMap.Point(116.387112,39.920977),
                        new BMap.Point(116.385243,39.913063),
                        new BMap.Point(116.394226,39.917988),
                        new BMap.Point(116.401772,39.921364),
                        new BMap.Point(116.41248,39.927893)
                    ], {strokeColor:"green",fillColor:"yellow", strokeWeight:2, strokeOpacity:0.5}); 
                    map.addOverlay(polygon); 
                    polygon.enableEditing();
                    polygon.addEventListener("onclick", function(target) {

                        var paths = polygon.getPath();
                        var msg = '';
                        var x=0,y=0;
                        for(var i = 0; i < paths.length; i++){
                            msg += "("+paths[i].lng+" , "+paths[i].lat+") ";
                            x=x+paths[i].lng;
                            y=y+paths[i].lat;
                        }
                        alert(msg);
                        x=x/paths.length;
                        y=y/paths.length;
                        alert(x+"   "+y);
                        var point = new BMap.Point(x, y);
                        var marker = new BMap.Marker(point);  
                        map.addOverlay(marker);           
                        marker.setAnimation(BMAP_ANIMATION_BOUNCE); 
                    })
                }
            },
            {
                text:'cancel',
                callback:function(){}
            }
        ];
        for(var i=0; i < txtMenuItem.length; i++){
            menu.addItem(new BMap.MenuItem(txtMenuItem[i].text,txtMenuItem[i].callback,100));
        }
        map.addContextMenu(menu);
</script>  