<% content_for :app_head do %>
  <%= stylesheet_link_tag 'mobile/greenbelts-bundle', media: 'all' %>
  <%= javascript_include_tag 'mobile/greenbelts-bundle' %>
<% end %>

<div id="map"></div>

<div class="modal fade new-feed-modal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div>

      <div class="modal-header modal-header-tab">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">提交反馈</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">待复查列表</a></li>
  </ul>

      </div>
      <div class="modal-body">



  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

    <form class="form-horizontal">
  <div class="form-group">
    <label for="judgeProblem" class="col-sm-2 control-label">有无问题</label>
    <div class="col-sm-10">
          <select class="form-control" id="judge-yes" >
          <option   value="1"  id="judge1" selected="selected">Yes</option>
          <option  value="2"   id="judge2"  >No</option>
      </select>
    </div>
  </div>
  <div class="form-group"  id="problem-description">
    <label for="description" class="col-sm-2 control-label">问题描述</label>
    <div class="col-sm-10">
      <textarea class="form-control" for="description" rows="2"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">上传图片</label>
    <div class="col-sm-10">
      <img src="..." alt="..." class="img-rounded">
      <img src="..." alt="..." class="img-rounded">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-2">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>


    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          时间—标题
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div  class="info">详细描述</div>
        <button   type="button" class="btn btn-sm btn-default" >确认复查</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          时间—标题
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">        
        <div  class="info">详细描述</div>
        <button   type="button" class="btn btn-sm btn-default" >确认复查</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         时间—标题
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">        
        <div  class="info">详细描述</div>
        <button   type="button" class="btn btn-sm btn-default" >确认复查</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

</div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div class="modal fade new-feed-modal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">反馈当前位置信息</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>  -->