<% content_for :app_head do %>
  <%= stylesheet_link_tag 'admin/greenbelts-bundle', media: 'all' %>
  <%= javascript_include_tag 'admin/greenbelts-bundle' %>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li class="nav-title" >绿地台账</li>
      <li class='active'><a href="javascript:void(0);">绿地列表<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      <li><a href="greenbelts/new">新增绿地<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
  </div>       
<% end %>

<div class="col-xs-10 main">
	<div class="row explain">
		<p>操作说明:</p>
		<p>1、选择小手可以进行拖拽地图</p>
		<p>2、选择多边形以进行圈地</p>
		<p>3、双击鼠标圈地结束</p>
		<p>4、在所圈范围上右键可以取消所圈绿地</p>		
	</div>
	<div class="row">
		<div class="col-xs-12" id='map'></div>
	</div>
</div>
