<% content_for :app_head do %>
  <%= stylesheet_link_tag 'admin/greenbelts-bundle', media: 'all' %>
  <%= javascript_include_tag 'admin/greenbelts-bundle' %>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li class="nav-title" >绿地台账</li>
      <li ><a href="/admin/greenbelts">绿地列表<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      <li class='active'><a href="javascript:void(0);">新增绿地<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
  </div> 
<% end %>
