<div class="float_banner">
<div class="welcome-head">
  <div class="welcome-left">欢迎来到园林绿地智能监管系统!</div>
  <div class="welcome-right">
    <div><a href="/logout" class="welcome-logout">退出</a></div>
    <div class="welcome-username"><%= @current_user.try(:name) %></div>
    <div class="glyphicon glyphicon glyphicon-cog welcome-setting"></div>
    <div class="glyphicon glyphicon glyphicon glyphicon-envelope welcome-msg">
      <span class="badge msg-num">3</span>
    </div>
  </div>
</div>
<div class="nav-left">
  <%=image_tag 'logo-1.png', class:'nav-img'%>
  <p>北京市海淀区<br>园林绿地智能监管系统</p>
</div>
  <div class="nav-right">
    <ul class="nav">
        <li class='active'><a href="/admin/greenbelts">绿地台账</a></li>
        <li><a href="#">监理人员</a></li>
        <li><a href="#">监理任务</a></li>
        <li><a href="#">问题反馈</a></li>
        <li><a href="#">统计分析</a></li>
        <li><a href="#">评价管理</a></li>
    </ul>
  </div>
  </div>
      <%= yield :sidebar %>   
      <%= yield %>